* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #282828;
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #282828;
  }
  * {
    color: #e3f7ff;
  }
}
